.ProfileContainer {
    background-color: rgb(236, 236, 236);
    width: 100%;
    .userInfoSide {
        position: fixed;
        padding: 10px;
        width: 25%;
        height: 36em;
        background-color: #fff;
        -webkit-border-top-right-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-radius-topright: 20px;
        -moz-border-radius-bottomright: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-right: 1px solid rgb(201, 198, 198);

        .user {
            display: flex;
            flex-direction: row;
            padding: 10px;
            margin: 10px;
            align-items: center;
            img {
                object-fit: cover;
                height: 55px;
                width: 55px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                margin: 10px;
            }
            .userDetail {
                margin: 10px;
                display: flex;
                flex-direction: column;
                .name {
                    font-size: 20px;
                    font-weight: 800;
                    cursor: pointer;
                }
                .email {
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 800;
                    color: rgb(80, 80, 78);
                }
            }
        }
        .userControll {
            margin: 10px;
            .span {
                font-size: 18px;
                color: rgb(105, 103, 103);
            }
            .active {
                color: #000;
            }
        }
    }
    .content {
        padding: 10px;
        width: 75%;
        min-height: 95vh;
        margin-left: 25%;
        .heading {
            width: 100%;
            align-items: center;
            text-align: center;
        }
        .properties {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .card {
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                width: 38em;
                height: 18em;
                margin: 10px;
                padding: 2px;
                align-items: center;
                display: flex;
                justify-content: space-evenly;
                background-color: #fff;
                .img {
                    width: 16em;
                    height: 17em;
                    overflow: hidden;
                    padding: 1px;
                    object-fit: cover;
                    border: 1px solid rgb(185, 181, 181);
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                }
                .details {
                    width: 20em;
                    height: 17em;
                    padding: 10px;
                    .head {
                        display: flex;
                        flex-direction: column;
                        height: 5em;
                        .title {
                            font-weight: 600;
                            font-size: 20px;
                            color: #000;
                        }
                        h3 {
                            color: rgb(96, 97, 97);
                        }
                    }
                    .m-detail {
                        height: 5em;
                        display: flex;
                        flex-direction: row;
                        span {
                            margin: 0 15px;
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }

                    .button {
                        display: flex;
                        flex-direction: row;
                        margin-top: 2px;
                        width: 100%;
                        justify-content: end;
                        .btn {
                            margin: 0 10px;
                            display: flex;
                            .edit {
                                color: #082c01;
                                font-size: 35px;
                                font-weight: 1000;
                            }
                            .delete {
                                color: #b81f04;
                                font-size: 35px;
                                font-weight: 1000;
                            }
                        }
                    }
                }
            }
            .Addcard {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 22em;
                width: 25em;
                margin: 15px;
                background-color: #fff;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                border-bottom: 1px solid rgb(145, 140, 140);
                .add-Link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    color: rgb(235, 233, 233);
                    .AddIcon {
                        font-size: 10em;
                    }
                    h1 {
                        text-transform: uppercase;
                    }
                }
            }
        }
        .userData {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 20px;
            flex-direction: column;

            .inputs {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 15px;
                input {
                    width: 20em;
                    padding: 7px;
                    font-size: 16px;
                    border: none;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    margin: 10px;
                }
                button{
                    cursor: pointer;
                    border: none;
                    padding: 5px;
                    font-weight: 500;
                    font-size: 20px;
                    border-radius: 5px;
                    background-color: rgb(16, 129, 235);
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
}
            }
        }
    }
}
