.footerContainer {
  position: absolute;
  z-index: 99;
  width: 100%;
  background-color: rgba(26, 24, 24);
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  .topFooter {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .row {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .footerMainLink {
        text-decoration: none;
        font-size: 18px;
        color: #fff;
        margin: 5px;
        padding: 5px;
      }
      .footerLink {
        margin: 5px;
        padding: 5px;

        color: rgb(190, 189, 189);
      }
    }
  }
  .lower {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    .links {
      display: flex;
      .link {
        margin: 10px 20px;
        color: #fff;
        font-size: 18px;
        font-weight: 550;
      }
    }
    .text {
      color: #dddcdc;
    }
    .socialMedia {
      .icon {
        margin: 10px 20px;
        padding: 20px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        font-size: 30px;
        color: blue;
        background-color: #555454b0;
      }
    }
  }
}
