.navbar {
    height: 50px;
    background-color: rgba(26, 24, 24, 0.897);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    .logo {
        font-size: 30px;
        color: #fff;
        font-weight: 800;
        word-spacing:2px ;
    }
    .links {
        color: #fff;
        display: flex;
        flex-direction: row;
        .link{
            color: #fff;
            margin: 0 10px;
            font-size: 20px;
        }
    }
    .authLink {
        display: flex;
        flex-direction: row;
        .icon{
            color: #fff;
            margin: 0 10px;
            font-size: 30px;
        }
    }
}
