.searchResultContainer{
    background-color: rgb(236, 236, 236);
    .container{
        display: flex;
        
        .searchResult{
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            align-items: center;
            justify-content: center;
            .card{
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                width: 38em;
                height: 18em;
                margin: 10px;
                padding: 2px;
                align-items: center;
                display: flex;
                justify-content: space-evenly;
                background-color: #fff;
                .img{
                    width: 16em;
                    height: 17em;
                    overflow: hidden;
                    padding: 1px;
                    object-fit: cover;
                    border: 1px solid rgb(185, 181, 181);
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
}
                .details{
                    width: 20em;
                    height: 17em;
                    padding: 10px;
                    .head{
                        display: flex;
                        flex-direction: column;
                        height: 5em;
                        .title{
                            font-weight: 600;
                            font-size: 20px;
                            color: #000;
                        }
                        h3{
                            color: rgb(96, 97, 97);
                        }
                    }
                    .m-detail{
                        height: 5em;
                        display: flex;
                        flex-direction: row;
                        span{
                            margin: 0 15px;
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }
                    .contact{
                        height: 5em;
                        margin-top: 20px;

                        button{
                            cursor: pointer;
                            width: fit-content;
                            font-size: 20px;
                            padding: 7px;
                            border-radius: 3px;
                            border: 1px solid green;
                            background-color: rgb(20, 179, 60);
                            -webkit-border-radius: 3px;
                            -moz-border-radius: 3px;
                            -ms-border-radius: 3px;
                            -o-border-radius: 3px;
}
                    }
                }
            }
        }
        
    }
}